:root {
    --my-blue: #00439c;
    --my-blue-light: #00639c;
    --my-grey: #727272;
}
.my_grey {
    color: var(--my-grey);
}
.my_blk {
    color: var(--bs-black);
}
body {
    font-family: 'Cabin Condensed', sans-serif;
}
#container-wrapper {
    width: 100%;
    position: fixed;
    top: 106px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
/* Scroll-Bar */
::-webkit-scrollbar {
    width: 16px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 30px;
}
::-webkit-scrollbar-track {
    background-color: #91befd34;
    border: 2px solid var(--my-blue);
}
::-webkit-scrollbar-track {
    box-shadow: inset 3px 3px 6px grey;
    background-color: #ebf8ff38;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #91befd 0%, var(--my-blue-light) 15%, var(--my-blue) 50%, var(--my-blue-light) 75%, #91befd 99%);
}
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, var(--bs-white) 0%, var(--bs-black) 5%, var(--my-blue) 50%, var(--bs-black) 94%, var(--bs-white) 99%);
}
/*********************
*** Header Pagina ****
*********************/
header {
    z-index: 999;
    background-color: var(--bs-white);
}
#banner-sony-h {
    background-color: var(--bs-black);
}
/* Nav-bar */
#logo-over {
    width: 70px;
}
.sub-link {
    list-style-type: disc;
}
.dropdown-toggle::after {
    display: none;
}
.fa-angle-down {
    font-size: 0.8rem;
}
img[src*="img/lens.svg"] {
    width: 50%;
}

/* Menu Dropdwon */
.dropdown {
    position: static;
}
.dropdown-menu {
    width: 100vw;
    text-align: center;
}
.dropdown-menu > li {
    display: block;
}
.dropdown-menu.show {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
/* Hero e banner Pagina */
#hero,
#banner-1 {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
#hero img,
#banner-2 [alt*="Logo PS+"],
#banner-3 [alt*="Logo PS Now"] {
    max-width: 300px;
}
/********************
*** Corpo Pagina ****
********************/
/* Sezioni Banner e bottoni*/
#banner-1 {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}
#banner-2 button,
#banner-3 button {
    background-color: #d9dadc;
}
#banner-2  {
    background-color: #bebcbb;
}
#banner-3 {
    background-color:#161c3b;
}
/***************
***** Footer**** 
***************/
footer {
    background-color:var(--my-blue);
}
footer a {
    color: var(--bs-white);
    text-decoration: none;
}
footer a:active,
footer a:hover {
    color: inherit;
    text-decoration: underline;
}
footer img[alt*="PlayStation"] {
    width: 150px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(77deg) brightness(103%) contrast(107%);
}
img[alt*="Regione"] {
    width: 20px;
}
footer img[alt*="Sony"] {
   width: 200px;
}