/*********************
*** Header Pagina ****
*********************/
/* Nav-bar */
#logo-over {
    width: 70px;
}
.sub-link {
    list-style-type: disc;
    text-decoration: underline;
}
.dropdown-toggle::after {
    display: none;
}
.fa-angle-down {
    font-size: 0.8rem;
}
img[src*="img/lens.svg"] {
    width: 50%;
}
/* Hero Pagina */
#hero {
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
#hero img {
    width: 250px;
}

