.sub-link {
    list-style-type: disc;
    text-decoration: underline;
}
.dropdown-toggle::after {
    display: none;
}
.fa-angle-down {
    font-size: 0.8rem;
}
#logo-over{
    width: 70px;
}
#hero {
    height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}

#hero img {
    width: 15%;
}
img[src*="img/lens"] {
    width: 50%;
}
